.post > td > img {
    width: 40px;
    height: 60px;
}

.post {
   vertical-align: middle;
}

@media (max-width: 768px) {
    .card-header .post-header{
        flex-direction: column;
    }

    .username, .createdAt {
        text-align: center !important;
    }
}
